{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>copperknight</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'copperknight/styles.css' %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
    </style>
    <link rel="icon" href="/static/copperknight/favicon.ico" type="image/x-icon">

</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'index' %}" style="text-shadow: 1px 1px 1px red, 2px 2px 1px #893a20;">
            <img src="/static/copperknight/logo.png" width="30" height="35" alt="" >
            copperknight
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'draw' %}">Draw</a>
            </li>

            {% else %}
            <li class="nav-item active">
              <a class="nav-link" >Log in to Draw!</a>
            </li>
            {% endif %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'showcase' %}">Showcase</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'following' %}">Following</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'favorited' %}">Favorited</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if user.is_authenticated %}
              {{ user.username }}
              {% else %}
              Account
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if not user.is_authenticated %}
              <form class="px-4 py-3" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="username" class="form-control" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                  <button type="submit" class="btn btn-secondary">Log in</button>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'register' %}">New around here? Sign up</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            {% endif %}
            </div>
          </li>
          </ul>

          <div id="artAlert" class="alert alert-light hidden" role="alert">
          </div>

          <div style="color:#343a40;user-select: none;" >plcHLDR</div>

          <form class="form-inline my-2 my-lg-0" action="/searchopus/" method="get">
            <input class="form-control mr-sm-2" type="search" name="artsearch" placeholder="Art Title" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>

        </div>
      </nav>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>


    <!-- Just in case -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
